.word {
    cursor: move;
    padding: 10px;
    border-radius: 5px;
  }
  
  .target {
    width: 80px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  