/* Estilos para las palabras que se pueden arrastrar (draggables) */
.word {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 18px;
  background-color: #f0f0f0;  /* Fondo gris claro */
  color: #333;
  border: 2px solid #bbb;     /* Borde gris más claro */
  margin: 10px;   /* Añadir margen entre las palabras */
  display: inline-block;  /* Asegurar que las palabras no se apilen */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.word:hover {
  background-color: #e0e0e0; /* Fondo más oscuro cuando se pasa el cursor */
  border-color: #888;        /* Borde más oscuro */
  color: #000;
}

/* Estilos para los espacios de destino (target) */
.target {
  width: auto;  /* Ajustar el ancho automáticamente según la palabra */
  min-width: 150px;
  height: 50px;  /* Altura ajustada */
  padding: 12px;
  border-radius: 10px;
  background-color: #fafafa;  /* Fondo gris claro */
  border: 2px dashed #aaa;    /* Borde de líneas discontinuas */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;  /* Tamaño del texto ajustado */
  color: #666;
  margin: 10px;   /* Añadir margen entre los targets */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.target.drop-accepted {
  background-color: #e0f7fa;  /* Fondo azul claro cuando el objeto está sobre el target */
  border-color: #007bff;      /* Borde azul */
}

/* Añadir un espacio delimitador en caso de que el target esté vacío */
.target-empty {
  background-color: #fff;
  color: #999;  /* Color gris claro para el texto */
  border: 2px dashed #ccc;  /* Borde discontínuo claro */
}




  
  