.word {
  font-size: 18px;
  padding: 15px 0px 0px 0px;  
}

.dropArea {
  width: auto;  /* Ajustar el ancho automáticamente según la palabra */
  min-width: 150px;
  height: 35px;  /* Altura ajustada */  
  border-radius: 10px;
  background-color: #fafafa;  /* Fondo gris claro */
  border: 2px dashed #aaa;    /* Borde de líneas discontinuas */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;  /* Tamaño del texto ajustado */
  color: #666;     
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;  
  color: #999;  /* Color gris claro para el texto */
  border: 2px dashed #ccc;  /* Borde discontínuo claro */
}

.options {
  display: flex;
  gap: 50px;
}

.option {
  background-color: #198754;
  gap: 50px;
  color: #ffff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 80px;
  margin: 10px;
}

.option:hover {
  background-color: #e0e0e0; /* Fondo más oscuro cuando se pasa el cursor */
  border-color: #888;        /* Borde más oscuro */
  color: #000;
}





  
  