.primary {
    color: #003011;
}

.bg-primary-custom {
    color: #fff !important;
    background-color: #003011 !important;
}

.cover {
    object-fit: cover;
}

.logo {
    max-height: 60px;
}

html,
body {
    height: 100vh;
}
.blocked{
    background-color: gray;
}
.passed{
    background-color: green;
    color: white;
}
.current{
    background-color: yellow;
}
.overflow-column{
    overflow-y: scroll;
    max-height: 400px;
}