a {
    text-decoration: none;
}

.hover-div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover .hover-div {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.blocked {
    background-color: #9E9E9E; 
    color: #FFFFFF; 
    border: 2px solid #9E9E9E; 
    padding: 10px;
    border-radius: 5px;
}

.passed {
    background-color: #4CAF50; 
    color: #FFFFFF; 
    border: 2px solid #4CAF50; 
    padding: 10px;
    border-radius: 5px;
}

.current  {
    background-color: #FFEB3B; 
    color: #000000; 
    border: 2px solid #FFEB3B; 
    padding: 10px;
    border-radius: 5px;
}

.text-decoration-none {
    color: black !important;  /* Cambiar el color del enlace a blanco */
    text-decoration: none;  /* Evitar subrayado */
}