.row {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
  gap: 10px;
}
  
.cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  user-select: none;
  transition: background-color 0.2s ease;
  position: relative;
      
}
  
.selected, .found {
  background-color: rgba(92, 184, 92, 0.6); 
}
  
.wordList {
  margin-left: 20px;
}
  
.foundWord {
  background-color: rgba(92, 184, 92, 0.6);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Espacio de 20px entre filas (vertical) */
}
  
  
  
  
  
  
  
  
  
  
  
  
  